{% extends 'layout/layout.html.twig' %}

{% block title %}Create Catego
{% endblock %}

{% block body %}

	<h1>Admin</h1>

	{{ form_start(form) }}
	<div class="container">
		{{ form_widget(form) }}
		{{ form_rest}}


	</div>
	{{ form_end(form) }}
    
{% endblock %}
