<!DOCTYPE html>

<title>Hello Administrator!</title>

{% block body %}


<div class="example-wrapper">
    <h1>Hello Administrator ! ✅</h1>

    <p>Toute modification apporter par l'administrateur sur la partie admin aura lieu instantanément sur le site. Réfléchissez donc bien aux modifications que vous voulez apporter.</p>
    <p>Il appartient à l'administrateur que les images uploadées correspondent à un format web définit comme ceci :  taille max : 1920x1080px, densité de pixel : 72 dpi, poids global de l'image en moyenne en dessous de 500ko. </p>
    <p></p>

</div>
{% endblock %}
