{% extends 'layout/layout.html.twig' %}

{% block title %}Create Catego
{% endblock %}

{% block body %}

	<h1>Admin</h1>

	{{ form_start(form) }}
	<div class="container">
		<img src="{{asset('assets/img/img_service/' ~ oldImage)}}" alt="">
		{{ form( form, {'action': path('update-service', {'id': id}) }) }}
		</div>
		


	</div>
	{{ form_end(form) }}
    
{% endblock %}
