* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    main{        
        padding: 4rem;
        font-family: 'PT sans', sans-serif;
    }
    #login{
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    .logo {
        width: 150px;
        max-height: 75px;
    }
    .flash{
        position: absolute;
        z-index: +5;
        top: 30vh;
        left: 40vh;
        display: flex;
        justify-content: center;
        color: white;
        background-color: rgba(255, 255, 255, 0.514);
        border-radius: 1rem;
    }
    .btn{
        color: white;
        background-color: #00c07b;        
    }
    
    nav {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-around;
        padding: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        a {
            color: white;
            font-family: "PT sans", "Monserrat-semi-bold", "Monserrat";
        }
        img {
            width: 150px;
            height: auto;
        }
        #cart{
            position: relative;
            p{
                position: absolute;
                top: 3px;
                right: 5px;         
                width: 1rem;
                height: 1rem;
                background-color: #00c07b;
                color: white;
                border-radius: 50%;
                font-size: 0.6rem;
                text-align: center;
            }
        }
    }
    .contact-form {
        position: fixed;
        display: flex;
        background-color: transparent;
        left: 0;
        top: 30vh;
        transition: transform 1s;
        .form {
            display: none;
            background-color: #00c07b;
            padding: 2rem;
            transition: display 1s;
        }
        .show {
            display: block;
        }
        .btn-drop {
            height: 20%;
            color: white;
            padding: 0.5rem;
            background-color: #00c07b;
            writing-mode: vertical-rl;
            text-orientation: upright;
            border-style: none;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }
    #locaform{
        font-family: sans-serif;
    }

    .cookie-legacy {
        display: flex;
        color: white;
        justify-content: space-around;
        position: absolute;
        padding: 0.5rem;
        top: 93vh;
        width: 100%;
        line-height: 1.5rem;
        background-color: rgba(0, 0, 0, 0.4);
        a{
            padding: 0.2rem;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0.5rem;
            border-style: none;
            max-height: 2rem; 
        }
    }
    .hide {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        .reso {
            display: flex;
            width: 40%;
            justify-content: space-between;
        }
    }
}
