{% extends "layout/layout.html.twig" %}

	{% block title %}{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block javascripts %}
	
{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Weplus Communiquer en vidéo</h1>
			<p>Communiquer par des vidéos est le meilleur moyen pour toucher rapidement une nouvelle clientèle. Nous vous proposons toute une gamme de service adapté de la consrtuction d'un site vitrine, à l'animation de réseaux sociaux.</p>
		</section>

		{% for categorie in categories %}
			<section>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{asset('assets/img/img_catego/' ~ categorie.ImageCatego)}}" alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">{{categorie.title}}</h2>
						<p class="card-text">{{categorie.subTitle}}</p>
					</div>
				</div>
			</section>
		{% endfor %}
	</main>

{% endblock %}
