{% extends "layout/layout.html.twig" %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
<h2>Identification</h2>
<h3>SCOP SARL WEPLUS</h3>
<p>Adresse : 31, BOULEVARD PREUILLY
37000 TOURS</p>
<p>téléphone : </p>
<p>courriel : melanie@weplus.fr</p>

<p> Forme Juridique : SCOP SARL </p>
<p>Capital sociale : 18 550,00 €</p>

<p>Directeur : Antoine Bortolotti</p>

<p>Hébergeur : </p>


<h2>Activité</h2>

<p>Numéro d'inscription au registre du commerce et des sociétés</p>
<p>Numéro individuel d'identification fiscale</p>

<h3>Conditions générales de ventes</h3>

<p>Conditions générales de vente (CGV) incluant le prix TTC en euros, les frais et date de livraison, les modalités de paiement, le service après vente, le droit de rétractation, la durée de l'offre, le coût de la communication à distance</p>

<a href=""></a>

<h2>Mentions relatives à l'utilisation des cookies</h2>

<p>Informations sur l'utilisationd des cookies : </p>

<h2>Mentions relatives à l'utilisation de eonnées personnelles</h2>

<p>Personne chargée de la protection des données : alexandre@weplus.fr</p>

<h3>Cadre général des données personnelles</h3>
<p>Les données des formulaires servent avant tout à remplir les contenu des mails envoyés aux différents services de l'entreprise. 
Dans le cadre des demandes liées à un service spécifique, au recrutement, à des informations générales, les données sont intégrées dans un mail, et peuvent être utiliser comme tel. 

Conformément au RGPD, nous vous confirmons que vos coordonnées ne seront en aucun cas transmises à des tiers. Notre base de données sert uniquement à vous informer de notre actualité et reste strictement confidentielle.  

Les informations personnelles vous concernant sont stockées de manière sécurisée et accessibles uniquement par les collaborateurs habilités. En outre, conformément au RGPD, vous disposez d’un droit d’accès, de rectification, d’opposition et de suppression des données vous concernant. Pour exercer vos droits, il vous suffit de nous adresser votre demande  par mail à l’adresse alexandre@weplus.fr.</p>

<h3>Cadre particulier concernant la partie location de matériel du site.</h3>

<p>En plus du cadre général, l'envoie de demande de devis pour la location de matériel audiovisuel, demande l'obtention d'une adresse de facturation. </p>


{% endblock %}