{% block body %}

<div class="cookie-legacy {{hide}}">
			<p>Ce site utilise des cookies. En continuant à utiliser ce site, vous consentez à leur utilisation.</p>
			<a href="{{ path('accueil') }}">Ok</a>
		</div>


{% endblock %}
